<form [formGroup]="form">
  <div class="input-wrapper">
    <label for="activity">Activity</label>
    <input type="text" id="activity" formControlName="activity" />
  </div>
  <div class="input-wrapper">
    <label for="type">Type</label>
    <input type="text" id="type" formControlName="type" />
  </div>
  <div class="input-wrapper">
    <label for="participants">participants</label>
    <input type="number" id="participants" formControlName="participants" />
  </div>
  <div class="input-wrapper">
    <label for="price">price</label>
    <input type="number" id="price" formControlName="price" />
  </div>
  <div class="input-wrapper">
    <label for="link">link</label>
    <input type="text" id="link" formControlName="link" />
  </div>
  <div class="input-wrapper">
    <label for="accessibility">accessibility</label>
    <input type="number" id="accessibility" formControlName="accessibility" />
  </div>
  <div class="input-wrapper">
    <label for="comment">comment</label>
    <input type="text" id="comment" formControlName="comment" />
  </div>
  <div class="form-buttons-wrapper">
    <button class="confirmation-button" (click)="saveActivity()">
      confirm
    </button>
    <button class="rejection-button" (click)="closeDialog.emit()">close</button>
  </div>
</form>
